ul {
	margin: 0;
	padding: 0;

	li {
		background: rgba(229, 229, 229, 0.5);
		list-style-type: none;
		margin: 5px 0;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

		&:hover {
			background:#fff;
		}
	}
}

.col-6 {
	input[type="button"] {
		float: right;
		margin-top: 10px;
	}
}